<form action="/add" method="post">
  <h1>URL:</h1>
  <input type="text" name="bookmark">
  <h1>Title:</h1>
  <input type="text" name="title">
  <input type="submit" value="Add">
</form>

<%= flash[:error] %>
