<!DOCTYPE html>
<html>
<body>
  <% @bookmarks.each do |bookmark| %>
  <a href= <%= bookmark[:url] %>><%= bookmark[:title] %></br></a>
  <% end %>

  <form action="/add" method="get">
    <input type="submit" value="Add bookmark">
  </form>
</body>
</html>
