<!DOCTYPE html>
<html>
<body>
  <% @bookmarks.each do |bookmark| %>
  <p><%= bookmark %></p>
  <% end %>

  <form action="/add" method="get">
    <input type="submit" value="Add bookmark">
  </form>
</body>
</html>
