<form action="/update" method="post">
  <h3>Title you want to change:</h3>
  <input type="text" name="original_title">
  <h3>New title:</h3>
  <input type="text" name="new_title">
  <input type="submit" value="Update">
</form>

<%= flash[:error_update] %>
